.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app.dark {
  background-color: rgb(7, 6, 6);
}

.app.light {
  background-color: #fff;
}

.mainContent {
  display: flex;
  flex-direction: row;
  flex: 2;
  margin: auto;
}
